{% extends '@email/default/notification/body.html.twig' %}

{% block content %}
    Prénom : {{ contact.firstName }}<br />
    Nom : {{ contact.lastName }}<br />
    E-mail : {{ contact.email }}<br />
    {% if contact.phone %}
        Téléphone : {{ contact.phone }}<br />
    {% endif %}

    Sujet : {{ contact.subject }} <br />

    <br />
    <br />
    <p>
        {{ contact.message }}
    </p>
{% endblock %}
